@model List<Doctor>
@{
    int count = 0;
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    <tr>
                        <th>No</th>
                        <th>Doctor Name</th>
                        <th>Department</th>

                    </tr>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach(Doctor item in Model)
                    {
                        count++;
                        <tr>
                        <td>@count</td>
                        <td>@item.DoctorName</td>
                        <td>@item.Department</td>
                       
                    </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</div>